<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li><a href="/sesion/">Interbancaria</a></li>
    <li><a href="/login_page/">Salir</a></li>
    <h1>Datos Cliente:</h1>
        <p>Nombre: {{cliente.nombres}}</p>
        <p>Cedula: {{cliente.cedula}}</p>
        <p>Username: {{cliente.username}}</p>
    <h2>Datos Cuenta:</h2>
        <p>BANCO: {{banco.nombre}}</p>
        <p>Numero de cuenta. {{cuenta.num_cuenta}}</p>
        <p>Monto: {{cuenta.monto}}</p>

</body>
</html>